.add-plus-container{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 6px;
    transition: box-shadow 0.2s ease-in-out;
    cursor: pointer;
    padding: 10px 20px !important;
}
@media screen and (max-width: 680px) {
    .add-plus-container{
        width: 95%;
        margin: 0 auto;
        justify-content: space-between;
    }
}

.add-plus-container:active{
    box-shadow: none;
}
.addLead-text{
    margin-left: 0px;
    width:100px !important;
    pointer-events:none
}